node_modules/

package-lock.json

/app/generated/prisma

/generated/prisma

/src/generated/prisma

.agents/skills/neon-postgres/

.env

# Prisma
.prisma/

# Logs
logs/
*.log

# OS
.DS_Store



/src/generated/prisma
